.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.popup-content h3 {
  margin-bottom: 15px;
  text-align: center;
}

.popup-content label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.popup-content input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
}

.popup-actions button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-actions button:first-child {
  background-color: #ccc;
  color: black;
}

.popup-actions button:last-child {
  background-color: #007bff;
  color: white;
}

.add-expense-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Align all items on one line */
  gap: 10px;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.add-expense-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px; /* Add spacing between title and form */
}

.add-expense-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-expense-form input {
  padding: 8px;
  border: 1px solid #bcc1ca;
  border-radius: 4px;
  font-size: 14px;
  flex: 1;
}

.add-expense-form input::placeholder {
  color: #bcc1ca;
}

.add-expense-form .react-select-container {
  border-radius: 4px; /* Add rounded border */
  font-size: 14px;
  flex: 1;
}

.add-expense-form .react-select__control {
  border: 1px solid #bcc1ca;
  border-radius: 4px;
  box-shadow: none;
}

.add-expense-form .react-select__placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .add-expense-form .react-select__indicators {
  padding: 0;
} */

.add-expense-form button {
  background-color: #636AE8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1; /* Make the button wider */
}

.add-expense-form button:hover {
  background-color: #4f58c7;
}

